#root {
  margin: 0 auto;
  padding: 10rem 0rem;
  text-align: center;
  width: 100%;
  height: 100vh;

  > main {
    max-width: 1080px;
    margin: auto;
  }

  > header a {
    font-weight: 600;
    color: #3c5ea7;

    &:hover {
      text-decoration: underline;
    }
  }
}
